<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowAudioPlaybackCapture="true">
        <activity
            android:name="app.guidecast.transmitter.PlaybackToneActivity"
            android:exported="true" />
        <activity
            android:name="app.guidecast.transmitter.PlaybackPcmActivity"
            android:exported="true" />
    </application>
</manifest>
