artifacts/*.apk filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/licenses/** whitespace=-blank-at-eol,-blank-at-eof
app/src/main/assets/licenses/ONNXRUNTIME-1.23.2-THIRD-PARTY-NOTICES.txt text eol=lf
