<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MediaProjectionTestActivity"
            android:exported="false" />
        <receiver
            android:name=".TestToneDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.guidecast.debug.action.TEST_TONE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
